<% provide :title, "#{@user}'s Posts"%>
  <% @user.posts.each do |p| %>
<div class="card">
  <h3 class="card-title black-text"><%= p.title %><span class="badge">comments</span><hr/></h3>
  <p class="card-content flow-text"> <%= p.content %> </p>
  <div class="card-action"><%= link_to "Read More", post_path(p) %><span class="badge"><%= p.created_at %></span></div>
</div>
  <% end %>