<%= form_tag(posts_path, method: "get", id: 'searchform', class: 'card-panel') do %>
<div class="input-field">
<%= label_tag :search, "Search by title/date/content", class: 'active' %>
  <%= text_field_tag :search, params[:search], id: 'search', class: 'validate' %>
</div>
  <input type="submit" value="Search" class="btn btn-primary"/>
<% end %>
