<% provide(:title, "Blog Posts") %>
<% @posts.each do |p| %>
 <%= render 'shared/posts', p: p %>
<% end %>
Showing 2 posts
<h5>Today I learnt 'JRuby'</h5>
<p>A JVM based performant ruby</p>
<!-- Modal Trigger -->
<hr>
<%= link_to "Post a Comment", '#', class: 'commentor' %>
  <a class="waves-effect waves-light btn-round right modal-trigger" href="#modal1">2 Comments</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
      <h6>Comments</h6>
      <a href="#!" class="float right modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <div class="modal-content">
    <h6>Commentor's Name</h6>
      <p>--Comment--</p>
    </div>
    <div class="modal-content">
    <h6>Commentor's Name</h6>
      <p>--Comment--</p>
    </div>
  </div>


<!--  -->
<h5>Sample</h5>
<p>Bla Bla Bla</p>
<!-- Modal Trigger -->
<hr>
<%= link_to "Post a Comment", '#', class: 'commentor' %>
  <a class="waves-effect waves-light btn-round right modal-trigger" href="#modal1">2 Comments</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
      <em>Comments</em>
    <div class="modal-content">
    <h6>Commentor's Name</h6>
      <p>--Comment--</p>
    </div>
    <div class="modal-content">
    <h6>Commentor's Name</h6>
      <p>--Comment--</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
