<%= provide(:title, "#{@post.user} > #{@post.count}") %>
<ul class="collection with-header">
  <li class="collection-header">
  <h4><%= @post.title %></h4></li>
<li class="collection-item"> <%= raw sanitize @post.content, tags: %w(a script img), attributes: %w(src href alt title target) %> </li>
