/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";

.brand{
  font-weight: bolder;
  font-size: 1.5rem;
  color: grey;
  border-bottom: 1px solid black;
}

img{
  max-width: 100%;
  display: block;
  margin: auto;
}
 body {
  // for sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-left: 240px;
  }

  main {
    flex: 1 0 auto;
  }

@media only screen and (max-width : 992px) {
  body{
    padding-left: 0px;
  }
}
#loader, .progress {
  position: fixed;
  top: 0px;
  z-index: 1000;
  margin: 0;
  height: 7px;
}
// container properties

main {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }

@media only screen and (min-width : 601px) {
main {
    width: 85%; } }

@media only screen and (min-width : 993px) {
main {
    width: 90%; } }

main .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

#toast-container{
  z-index: 9999;
}