<!-- <footer class="page-footer">
<h6 class="container"> A blog by -->
  <footer class="footer-copyright white black-text">
A blog application by <a class="btn-flat" href="mailto: karan.valecha92@gmail.com">Karan Valecha</a>
  </footer>
<!-- </h6>
</footer> -->