<!-- <footer class="page-footer">
<h6 class="container"> A blog by -->
  <footer class="footer-copyright center">

  <!-- <a href="mailto:karan.valecha92@gmail.com">Karan Valecha</a> -->
  </footer>
<!-- </h6>
</footer> -->
<a href="#modal" hidden="true" id="modaltrigger" class="modal-trigger" ></a>
  <div id="modal" class="modal bottom-sheet">
      <a class="right modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <div class="modal-content">
    </div>
  </div>
