<!-- <footer class="page-footer">
<h6 class="container"> A blog by --> -->
  <footer class="footer-copyright center">
  #TODO footer
  <!-- <a href="mailto:karan.valecha92@gmail.com">Karan Valecha</a> -->
  </footer>
<!-- </h6>
</footer>